{% extends 'user/base.html' %}
{% block title %}
Abdie Mohamed | Speaking
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row align-items-center text-center text-md-start mb-4 mt-4">
            <div class="col-md-6 mb-4 mb-md-0">
                <img src="/static/images/partners/speaker.png" alt="speaker image" class="img-fluid w-100">
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center align-items-md-center" style="min-height: 150px;">
                <h3 class="quote-text;">“Engineer by trade, Speaker by passion.”</h3>
                <button class="btn btn-primary text-light mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Book Now</button>
            </div>
        </div>
    </div>
    
    <div class="row bg-dark">
        <div class="col-md-6">
            <h2 class="text-light me-5 ms-5 mt-4 mb-3">Inspiring Growth Through Leadership, Purpose, and Bold Action</h2>
            <hr class="text-light f-2">
            <p class="homeP text-light me-5 ms-5">Abdie Mohamed is a passionate speaker and career coach who helps people break through barriers, build confidence, and step into their full potential. With a background in cybersecurity, cloud technology, and leadership, Abdie combines real-world experience with practical advice to motivate audiences to take bold, meaningful steps toward their goals. As the first in his family to pursue a career in tech, Abdie’s story and message connect deeply with anyone looking to create a purposeful and impactful career.</p>
        </div>
        <div class="col-md-6">
            <h2 class="text-light me-5 ms-5 mt-4 mb-3">A Speaker Who Sparks Change</h2>
            <hr class="text-light f-2">
            <p class="homeP text-light me-5 ms-5">Abdie’s journey is one of paving new paths and personal growth. Born and raised in San Diego, California, he was the first in his family to start a career in technology which inspired his younger siblings and community to do the same. <br> Known for his energetic and authentic style Abdie creates spaces where people feel encouraged to lead through clear communication and intentional action. His talks focus on leadership skills such as communication, personal development, and overcoming challenges with resilience and confidence. Audiences walk away inspired, equipped, and ready to lead themselves and others forward.</p>
        </div>
    </div>
    <div class="row" style="background-color: #D9D9D9;">
        <div class="col-md-12">
            <h1 class="heads m-5">Why Book Abdie Mohamed?</h1>
                <ul class="m-5">
                    <li class="speakhead">Grounded in Real-World Experience</li>
                    <p class="homeP text-dark">Abdie brings over 10 years of experience in the workforce, including 6 years in technology leading cross-functional teams and driving collaboration between business, engineering, and security teams. His insights come from real-world problem-solving, not just theory.</p>
                    <li class="speakhead">Communication That Connects</li>
                    <p class="homeP text-dark">Abdie is known for his ability to make complex topics clear and relatable. Whether addressing executives, engineers, or students, he delivers content that is engaging, actionable, and easy to understand.</p>
                    <li class="speakhead">Leadership Through Teaming</li>
                    <p class="homeP text-dark">A servant leader at heart, Abdie is dedicated to making the world a better place by building other leaders. He shares practical lessons on building trust, leading with empathy, and aligning diverse teams to achieve shared goals in high-pressure environments.</p>
                    <li class="speakhead">Championing Technology Adoption</li>
                    <p class="homeP text-dark">Abdie is passionate about making technology more accessible and approachable for all. He has MC’d hackathons, led technical workshops at high schools and colleges, and worked directly with students and early-career professionals to help them understand and embrace new tools and technologies. He meets people where they are and helps bridge the gap between curiosity and confidence.</p>
                    <li class="speakhead">Inclusive and Empowering Voice</li>
                    <p class="homeP text-dark">As a proud graduate of San Diego State University and a passionate advocate for representation in tech, Abdie connects with diverse audiences and encourages others to lead, grow, and speak up.</p>
                    <li class="speakhead">Educator at Heart</li>
                    <p class="homeP text-dark">Whether on stage, in a workshop, or one-on-one, Abdie is committed to helping others grow. His talks leave audiences informed, inspired, and equipped to take meaningful action.</p>
                </ul>
            <h5 class="ms-5 me-5 mt-5 speakhead">Booking and Contact</h5>
            <p class="homeP ms-5 me-5 mb-5 text-dark">If you’re ready to bring Abdie Mohamed to your next event or want to learn more about his coaching reach out via <a href="mailto:abdiemohamed.tech@gmail.com">e-mail</a>. Let’s work together to help your team or community lead with confidence and chase their dreams.</p>
        </div>
    </div>
    <div class="row" style="background-color: #CCB2FF;">
        <div class="col-md-12" ></div>
            <div class="col-md-12">
                <h1 class="heads text-center m-5">See What Others Are Saying...</h1>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="video-wrappe">
                        <video controls>
                        <source src="/static/images/partners/speaking4.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-wrappe">
                        <video controls>
                        <source src="/static/images/partners/speaking2.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-wrappe">
                        <video controls>
                        <source src="/static/images/partners/speaking3.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="video-wrappe">
                        <video controls>
                        <source src="/static/images/partners/speaking1.mp4" type="video/mp4">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}